---
# Install FFmpeg and dependencies

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Install build dependencies
  ansible.builtin.apt:
    name: "{{ ffmpeg_build_deps }}"
    state: present
  become: true

- name: Install library dependencies
  ansible.builtin.apt:
    name: "{{ ffmpeg_lib_deps }}"
    state: present
  become: true

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ ffmpeg_source_dir }}"
    - "{{ ffmpeg_bin_dir }}"
    - "{{ ffmpeg_build_dir }}"

# Use system FFmpeg package (fast, for testing)
- name: Install FFmpeg from system packages
  when: not ffmpeg_compile_codecs
  block:
    - name: Install ffmpeg package
      ansible.builtin.apt:
        name: ffmpeg
        state: present
      become: true

    - name: Create symlink to system ffmpeg
      ansible.builtin.file:
        src: /usr/bin/ffmpeg
        dest: "{{ ffmpeg_bin_dir }}/ffmpeg"
        state: link

    - name: Create symlink to system ffprobe
      ansible.builtin.file:
        src: /usr/bin/ffprobe
        dest: "{{ ffmpeg_bin_dir }}/ffprobe"
        state: link

# Compile from source (slow, for production)
- name: Compile FFmpeg from source
  when: ffmpeg_compile_codecs
  block:
    - name: Clone x264
      ansible.builtin.git:
        repo: https://code.videolan.org/videolan/x264.git
        dest: "{{ ffmpeg_source_dir }}/x264"
        depth: 1

    - name: Compile x264
      ansible.builtin.shell: |
        ./configure --prefix={{ ffmpeg_build_dir }} --bindir={{ ffmpeg_bin_dir }} --enable-static --enable-pic
        make -j$(nproc)
        make install
      args:
        chdir: "{{ ffmpeg_source_dir }}/x264"
        creates: "{{ ffmpeg_build_dir }}/lib/libx264.a"
      environment: "{{ ffmpeg_env }}"

    - name: Clone x265
      ansible.builtin.git:
        repo: https://bitbucket.org/multicoreware/x265_git.git
        dest: "{{ ffmpeg_source_dir }}/x265"
        depth: 1

    - name: Compile x265
      ansible.builtin.shell: |
        cd build/linux
        cmake -G "Unix Makefiles" -DCMAKE_INSTALL_PREFIX={{ ffmpeg_build_dir }} -DENABLE_SHARED=off ../../source
        make -j$(nproc)
        make install
      args:
        chdir: "{{ ffmpeg_source_dir }}/x265"
        creates: "{{ ffmpeg_build_dir }}/lib/libx265.a"
      environment: "{{ ffmpeg_env }}"

    - name: Clone fdk-aac
      ansible.builtin.git:
        repo: https://github.com/mstorsjo/fdk-aac.git
        dest: "{{ ffmpeg_source_dir }}/fdk-aac"
        depth: 1

    - name: Compile fdk-aac
      ansible.builtin.shell: |
        autoreconf -fiv
        ./configure --prefix={{ ffmpeg_build_dir }} --disable-shared
        make -j$(nproc)
        make install
      args:
        chdir: "{{ ffmpeg_source_dir }}/fdk-aac"
        creates: "{{ ffmpeg_build_dir }}/lib/libfdk-aac.a"
      environment: "{{ ffmpeg_env }}"

    - name: Download opus
      ansible.builtin.get_url:
        url: "https://downloads.xiph.org/releases/opus/opus-{{ ffmpeg_opus_version }}.tar.gz"
        dest: "{{ ffmpeg_source_dir }}/opus-{{ ffmpeg_opus_version }}.tar.gz"
        mode: "0644"

    - name: Extract opus
      ansible.builtin.unarchive:
        src: "{{ ffmpeg_source_dir }}/opus-{{ ffmpeg_opus_version }}.tar.gz"
        dest: "{{ ffmpeg_source_dir }}"
        remote_src: true
        creates: "{{ ffmpeg_source_dir }}/opus-{{ ffmpeg_opus_version }}"

    - name: Compile opus
      ansible.builtin.shell: |
        ./configure --prefix={{ ffmpeg_build_dir }} --disable-shared
        make -j$(nproc)
        make install
      args:
        chdir: "{{ ffmpeg_source_dir }}/opus-{{ ffmpeg_opus_version }}"
        creates: "{{ ffmpeg_build_dir }}/lib/libopus.a"
      environment: "{{ ffmpeg_env }}"

    - name: Clone libvpx
      ansible.builtin.git:
        repo: https://chromium.googlesource.com/webm/libvpx.git
        dest: "{{ ffmpeg_source_dir }}/libvpx"
        depth: 1

    - name: Compile libvpx
      ansible.builtin.shell: |
        ./configure --prefix={{ ffmpeg_build_dir }} \
          --disable-examples --disable-unit-tests \
          --enable-vp9-highbitdepth --as=nasm
        make -j$(nproc)
        make install
      args:
        chdir: "{{ ffmpeg_source_dir }}/libvpx"
        creates: "{{ ffmpeg_build_dir }}/lib/libvpx.a"
      environment: "{{ ffmpeg_env }}"

    - name: Clone FFmpeg
      ansible.builtin.git:
        repo: https://github.com/FFmpeg/FFmpeg.git
        dest: "{{ ffmpeg_source_dir }}/ffmpeg"
        depth: 1
        version: "n7.0"

    - name: Compile FFmpeg
      ansible.builtin.shell: |
        ./configure {{ ffmpeg_configure_options }} --enable-libfdk-aac
        make -j$(nproc)
        make install
      args:
        chdir: "{{ ffmpeg_source_dir }}/ffmpeg"
        creates: "{{ ffmpeg_bin_dir }}/ffmpeg"
      environment: "{{ ffmpeg_env }}"

- name: Verify FFmpeg installation
  ansible.builtin.command:
    cmd: "{{ ffmpeg_bin_dir }}/ffmpeg -version"
  changed_when: false
  register: ffmpeg_version

- name: Display FFmpeg version
  ansible.builtin.debug:
    msg: "{{ ffmpeg_version.stdout_lines[0] }}"
